.box1{
    width: 930px;
    height: 775px;
    background-color: rgb(255, 255, 255);
    border: solid 5px;
    margin: auto;
 
}
.bola1{
    width: 40px;
    height: 40px;
    background-color:#F7941D;
    border-radius:50%;
    position: absolute;
    top: 20px;
    left: 320px;
}
.bola2{
    width: 40px;
    height: 40px;
    background-color:#FDC180;
    border-radius:50%;
    position: absolute;
    top: 20px;
    left: 370px;

}
.bola3{
    width: 40px;
    height: 40px;
    background-color:#004A8D;
    border-radius:50%;
    position: absolute;
    top: 20px;
    left: 420px;
}
.pesquisa{
    position: absolute;
    top: 3px;
    left: 470px;
}
.nome{
    position: absolute;
    top: 140px;
    left: 335px;
}
.sobre{
    position: absolute;
    top: 60px;
    left: 3px;
}
.E-mail{
    position: absolute;
    top: 258px;
    left: 341px; 
}
.telefone{
    position: absolute;
    top: 60px;
    left: 2px; 
}
.texto{
    position: absolute;
    top: 40px;
    left: 330px;
}
.vagas1{
    position: absolute;
    top: 150px;
    left: 330px;
}
.vagas2{
        position: absolute;
        top: 200px;
        left: 330px;
}
.img{
    position: absolute;
    top: 10px;
    left: 717px;
}
.curso{
    position: absolute;
    top: 410px;
    left: 355px;
}
.quadrado{
    position: absolute;
    top: 560px;
    left: 358px;
}
.livre{
    position: absolute;
    top: 480px;
    left: 350px;
}
.but{
    position: absolute;
    top: 720px;
    left: 1100px;
}